body {
  margin-top: 200px;
  background-color: black;
}

ul {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2px;
  width: 300px;
  height: 300px;
  padding: 0;
}

li:nth-of-type(odd) {
  background: lightgrey;
  overflow: hidden;
}

li:nth-of-type(even) {
  background: lightgrey;
  overflow: hidden;
}

.title {
  text-align: center;
  color: lightgrey;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonWrapper {
  text-align: center;
}

button {
  font-weight: bold;
  margin:10px;
}

.winLose {
  color: lightgrey;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

#wl {
  margin-top: 30px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}
